---
import Faq from "../components/Faq.astro";
import Footer from "../components/Footer.astro";
import VideoGallery from "../components/VideoGallery.astro";
import About from "../components/About.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Zenova</title>
  </head>
  <body>
    <header class="bg-[_#0b1c2a_] p-4 md:px-10 lg:px-20">
      <div class="container mx-auto flex items-center justify-between">
        <!-- <img src="/logo5.png" class="mr-5 w-[_150px_]" alt="logo" /> -->
        <span class="dm-serif-display-regular-italic text-white text-5xl"
          >Zenova</span
        >
        <!-- Menu para desktop -->
        <nav class="hidden space-x-8 md:flex">
          <a
            href="#"
            class="navBar border-white-500 mr-3 text-white hover:text-gray-300"
            >SERVIÇOS</a
          >
          <a
            href="https://zenova.myportfolio.com"
            target="_blank"
            class="navBar text-white hover:text-gray-300">PORTFÓLIO</a
          >
          <a href="#about" class="navBar text-white hover:text-gray-300"
            >QUEM SOMOS</a
          >
          <a
            target="_blank"
            href="https://api.whatsapp.com/send?1=pt_BR&phone=5541995662027"
            class="navBar text-white hover:text-gray-300">CONTATO</a
          >
          <a href="#faq" class="navBar text-white hover:text-gray-300">FAQ</a>
        </nav>

        <!-- Ícone do menu para dispositivos móveis -->
        <div class="md:hidden">
          <button id="menu-toggle" class="text-white focus:outline-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <!-- Menu lateral para dispositivos móveis (inicialmente oculto) -->
    <div
      id="mobile-menu"
      class="h-200 fixed inset-0 z-50 hidden h-[250px] w-[150px] bg-gray-600 md:hidden"
    >
      <div class="flex justify-end p-4">
        <button id="close-menu" class="text-white">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav class="flex flex-col items-center">
        <a href="#" class="py-2 text-white hover:text-gray-300">SERVIÇOS</a>
        <a
          href="https://zenova.myportfolio.com/"
          target="_blank"
          class="py-2 text-white hover:text-gray-300">PORTFÓLIO</a
        >
        <a href="#" class="py-2 text-white hover:text-gray-300">QUEM SOMOS</a>
        <a
          href="https://api.whatsapp.com/send?1=pt_BR&phone=5541995662027"
          target="_blank"
          class="py-2 text-white hover:text-gray-300">CONTATO</a
        >
        <a href="#" class="py-2 text-white hover:text-gray-300">FAQ</a>
      </nav>
    </div>
    <slot />

    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  #mobile-menu {
    left: calc(100% - 150px);
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
    scroll-behavior: smooth;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  /* The snackbar - position it at the bottom and in the middle of the screen */
  #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
    -webkit-animation:
      fadein 0.5s,
      fadeout 0.5s 2.5s;
    animation:
      fadein 0.5s,
      fadeout 0.5s 2.5s;
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }

  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }

  .dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }

  .dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
  }
</style>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<!-- <script>
  // Lógica para mostrar/ocultar o menu lateral em dispositivos móveis
  const menuToggle = document.getElementById("menu-toggle");
  const closeMenuBtn = document.getElementById("close-menu");
  const mobileMenu = document.getElementById("mobile-menu");

  menuToggle.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
  });

  document.addEventListener("DOMContentLoaded", () => {
    const navLinks = document.querySelectorAll(".navBar");

    function updateActiveClass() {
      let currentHash = window.location.pathname;
      currentHash = currentHash.replaceAll("/", "");

      navLinks.forEach((link) => {
        link.classList.remove("border-b-2");
      });

      // Adiciona a classe 'border-b-2' ao link correspondente ao hash atual
      const currentLink = document.querySelector(
        `.navBar[href="/${currentHash}"]`
      );
      if (currentLink) {
        currentLink.classList.add("border-b-2");
      }
    }

    window.addEventListener("hashchange", updateActiveClass);

    // Chama a função inicialmente para garantir que a classe 'border-b-2' seja definida corretamente na carga da página
    updateActiveClass();
  });
</script> -->
